# ---------------------------------------------------------------------------------
# Custom OmeroBlitz configuration file
#
# Build profile specific integration testing config file
#
# See https://github.com/openmicroscopy/openmicroscopy/blob/develop/etc/ice.config
# ---------------------------------------------------------------------------------

# Instead of defining the entire Ice.Default.Router property,
# it is also an option to specify just omero.host which will
# be inserted into a template Ice.Default.Router

omero.host=localhost

# If your blitz server runs on a non-standard port (not 4064)
# then omero.port can also be set.

## omero.port=4064 (default)
## omero.port=14064

# Login information can also be provided via configuration
# files, though storing passwords in config files can be
# dangerous.
# See also dbunit.common-fixtures.xml

omero.user=dbunit
omero.pass=dbunit

# Other properties: Any prefix preferenced with "omero"
# will be parsed by the omero.client objects in all available
# languages.
#
# For example, the following is used in the test cases for
# creating a root login.

omero.rootpass=root_dbunit

